*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.cadastrar{
    border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 9px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;

    & th,
    td {
        padding: 10px;
        text-align: left;
    }

    & th {
        background-color: #ffb5dc
    }

    & tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    & tr:hover {
        background-color: #f5f5f5;
    }
}


.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px); 
}

.modalConteudo {
    background-color: #fff;
    color: #333;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.modalConteudo h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.modalConteudo input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.modalConteudo input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.modalConteudo input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    padding: 12px 20px;
}

.modalConteudo input[type="submit"]:hover {
    background-color: black;
}

.fechar {
    color: #7f8c8d;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.fechar:hover {
    color: #e74c3c;
}

#modal {
    background-color: #333;
    color: white;
    font-weight: bold;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#modal:hover {
    background-color: #333;
}